.registration-container {
    background-color: rgba(254, 254, 254, 0.8); 
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-container h2 {
    text-align: center;
    color: black;
}

#registration-form label {
    display: block;
    margin-bottom: 5px;
}

#registration-form input, select {
    width: 350px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#registration-form button {
    background-color:  rgb(255, 68, 68); 
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 70px;
    font-size: 16px;
    cursor: pointer;
}

#registration-form button:hover {
    background-color: #8f2121;
}

.reg-username, .reg-email, .reg-password, .user-type{
    color: black;
}